.header__logo{
    max-width: 180px;
    min-height: 57px;
}

@media screen and (max-width: 1024px){
    .header__logo{
    max-width: 176px;
    min-height: 52px;
    }    
}

@media screen and (max-width: 768px){
    .header__logo{
    max-width: 176px;
    min-height: 52px;
    }    
}

@media screen and (max-width: 544px){
    .header__logo{
       max-width: 159px;
       min-height: 57px;
    }       
   }


@media screen and (max-width: 320px){
    .header__logo{
    max-width: 142px;
    min-height: 42px;
    }    
}
