.photo-grid__item{
    max-width: 284px;
    max-height: 213px;    
    margin: 0;
}
/*
@media screen and (max-width: 1248px) {
    .photo-grid__item{
       max-width: 275px;          
    }
}

@media screen and (max-width: 1185px) {
    .photo-grid__item{
        max-width: 340px;          
    }
}

@media screen and (max-width: 1100px) {
    .photo-grid__item{
        max-width: 300px;          
    }
}
*/
@media screen and (max-width: 1024px) {
    .photo-grid__item{
        max-width: 300px;
        max-height: 225px;          
    }
}

@media screen and (max-width: 768px) {
    .photo-grid__item{
        max-width: 352px;
        max-height: 264px;       
    }
}
@media screen and (max-width: 426px) {
    .photo-grid__item{
        max-width: 394px;
        max-height: 295px;       
    }    
}

@media screen and (max-width: 376px) {
    .photo-grid__item{
        max-width: 343px;         
    }    
}

@media screen and (max-width: 320px) {
    .photo-grid__item{
        max-width: 288px;          
    }
}
