.place__paragraph{
    max-width: 484px;
    object-fit: cover;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    margin: 0 0 26px 40px;   
}

.place__paragraph:last-of-type{
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .place__paragraph{
        max-width: 456px;
        margin: 0 0 27px 41px;
    }
}

@media screen and (max-width: 768px) {
    .place__paragraph{
        max-width: 352px;
        margin: 0 0 25px 28px;
        font-size: 16px;       
    }
}

@media screen and (max-width: 680px) {
    .place__paragraph{        
        margin: 0 0 25px 0;            
    }
}

@media screen and (max-width: 630px) {
    .place__paragraph{        
        margin: 0 0 25px 16px;
        font-size: 14px;            
    }
}
@media screen and (max-width: 560px) {
    .place__paragraph{       
        margin: 0 0 25px 0;               
    }
}
@media screen and (max-width: 520px) {
    .place__paragraph{        
        font-size: 18px;
        margin: 0 0 25px 0;
        max-width: 100%;       
    }
}

@media screen and (max-width: 426px) {
    .place__paragraph{
        max-width: 394px;
        margin: 32px 16px 25px 16px;
        font-size: 16px;         
    }
}

@media screen and (max-width: 376px) {
    .place__paragraph{
        max-width: 343px;
        font-size: 16px;      
    }
}
/*
@media screen and (max-width: 320px) {
    .place__paragraph{
        max-width: 288px;       
    }
}*/