.footer__copyright{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
}

@media screen and (max-width: 426px) {
    .footer__copyright{        
        font-size: 14px;
        line-height: 1;
        text-align: left;
    }    
}
/*
@media screen and (max-width: 376px) {
    .footer__copyright{        
        font-size: 14px;
        line-height: 1;
        text-align: left;
    }    
}

@media screen and (max-width: 320px) {
    .footer__copyright{        
        font-size: 14px;
        line-height: 1;
        text-align: left;
    }    
}
*/